* {
margin: 0;
padding: 0;
}
body {
font: 12px "Verdana", Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif; 
color: #333;
line-height: 18px;
}
a {
color: #33E;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}

/* === HELPERS === */
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.text-left {text-align: left; }
.text-right {text-align: right; }
.text-center {text-align: center;}
.hidden { display: none; }
.full { width: 100% !important; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

img { 
max-width: 100%; 
height: auto; 
width: auto\9; /* ie8 */ 
border: none; 
}

#page-wrap {
position:relative;
min-height:100%;
}

.header-bar {
border-bottom: solid 1px #E8E8E8; 
padding: 0 15px; 
background: #F8F8F8; 
height: 28px;
}

.header-bar a:hover{
text-decoration: none;
}

#header-main {
padding: 0 15px;
border-bottom: solid 3px #CCC;
}

.title {
font-size: 32px;
color: #AAA;
font-family: Arial;
padding: 30px 0;
}

.menu-top {
list-style: none;
}

.menu-top li {
float: left;
padding: 0 1px;
}

.menu-top li a {
display: block;
padding: 5px 10px 5px 15px;
}

.menu-top li a:hover {
background-color: #FEFEFE;
color: #000; 
}

.link-user {
background: url(images/users-icon.png) 10px 50% no-repeat;
padding-left: 40px !important;
}

.link-account {
background: url(images/account.png) 10px 50% no-repeat;
padding-left: 40px !important;
}

.link-logout {
background: url(images/logout.png) 10px 50% no-repeat;
padding-left: 32px !important;
color: #C00;
}

.welcome-user {
background: url(images/avatar-icon.png) left no-repeat;
padding: 5px 5px 5px 25px !important;
}

#menu {
padding: 30px 0 0 0;
float: right;
}

#menu ul {
list-style: none;
}

#menu ul li {
float: left;
padding: 0 25px;
border-right: solid 1px rgba(50,50,50,.1);
}

#menu li a {
font-family: Arial;
font-weight: bold;
font-size: 15px;
}

#menu li a:hover {
text-decoration: none;
color: #555;
}

#menu .last-link-menu {
border-right: none !important;
padding-right: 5px !important;
}

#main-container {
padding: 15px;
min-height: 350px;
}

.listing-entries {
list-style: none;
}

.listing-entries li {
border-top: solid 1px #DDD;
padding: 10px 0 15px 0;
clear: both;
}

.listing-entries li:hover {
background: #FAFAFA;
}

.listing-entries .thumb {
margin: 0.5% 0 0 0.5%;
float: left;
width: 4%;
}

.content-about {
float: left;
color: #888;
line-height: 22px;
width: 95%;
padding-left: 0.5%;
}

.content-about strong a {
color: #222;
}

.content-about strong a:hover {
text-decoration: none;
}

.content-about .text-main {
color: #222;
}

.content-about .fav {
border-top: solid 1px #E5E5E5;
border-bottom: solid 1px #E5E5E5;
border-left: solid 1px #E5E5E5;
float: left;
margin-top: 6px;
}

.content-about .fav p {
float: left;
border-right: solid  1px #E5E5E5;
padding: 6px 10px;
font-size: 11px;
}

.content-about .fav a {
font-weight: bold;
}

.icon-social {
float: left; 
margin-right: 8px; 
position: relative; 
top: 12px;
}

#footer-container {
text-align: center;
padding-top: 40px;
padding-bottom: 20px;
font-size: 11px;
margin-top: 10px;
color: #999;
clear: both;
width: 100%;
background: url(images/bg_footer.png) top center repeat-x;
}

.pg_right {
float: right;
color: #AAA; 
text-align: right;
}
.pages {
padding: 10px 0 0 0;
text-align: right;
}
.pages a {
border: solid 1px #267cb2;
padding: 3px 3px 3px 3px;
height: 15px;
line-height: 25px;
font-size: 11px;
}
.pages a:hover {
background: #267cb2;
color: #FFF;
}
.pages_crr {
border: solid 1px #267cb2;
padding: 3px 3px 3px 3px;
height: 15px;
line-height: 25px;
font-size: 11px;
color: #FFF;
background: #267cb2;
}

.title-page {
font-size: 28px;
color: #333;
font-family: Arial;
padding: 10px 0 30px 0;
clear: both;
}

.bx_services {
width: 240px; 
line-height: normal; 
padding: 0 !important;
background-position: 2% 50%;
background-repeat: no-repeat;
}

.bx_services a {
padding: 10px 15px 10px 30px; 
display: block; 
text-decoration: none; 
color: #FFF;
}

.bg-rol {
background: #E9F1F6;
}

.textarea-talk {
font-family: Verdana;
font-size: 12px;
padding: 6px;
width: 100%;
height: 50px;
border: solid 1px #CCC;
box-shadow:inset 0 0 5px #E1D7CC;
border-radius: 5px;
}

.button {
background: #EEE;
padding: 10px;
border: solid 1px #CCC;
box-shadow:inset 0 0 5px #FFF;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
margin: 5px 0;
font-size: 12px;
}

.button:hover {
background: #F4F4F4;
text-decoration: none;
color: #000;
}

.profile-info {
border: solid 1px #E5E5E5;
border-right: none;
float: left;
list-style: none;
margin-top: 10px;
}

.profile-info li {
float: left;
padding: 10px;
border-right: solid 1px #E5E5E5;
}

.profile-avatar {
margin-right: 15px; 
float: left; 
border: solid 1px rgba(50,50,50,.1); 
border-radius: 4px; box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1); 
text-shadow: 0px 1px 0px rgba(255,255,255, 1);
width: 128px;
}

.profile-name {
padding: 10px 0;
}

.profile-name a {
position: relative;
top: -4px; 
}

.profile-description {
font-size: 11px; 
color: #999; 
padding: 9px 0;
}